.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes bounce-6 {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-50px);
    }
    50% {
        transform: scale(1.02, .98) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1.02, .98) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.pokeImg {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.evoImg1 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
}

.evoImg2 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
}

.evoImg3 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}

.evoImg4 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
}

.evoImg5 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.evoImg6 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
}

.evoImg7 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
}

.evoImg8 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
}

.evoImg9 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.9s;
}

.evoImg10 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}