.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes bounce-6 {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-50px);
    }
    50% {
        transform: scale(1.02, .98) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1.02, .98) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.pokeImg {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.evoImg1 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
}

.evoImg2 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
}

.evoImg3 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}

.evoImg4 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
}

.evoImg5 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.evoImg6 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
}

.evoImg7 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
}

.evoImg8 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
}

.evoImg9 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 0.9s;
}

.evoImg10 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-7;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

h1 {
    text-align: center;
    margin: 2em;
    color: #333;
}

.icon {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: auto;
    /* transition: 200ms all; */
    /* border: solid 1px white; */
}


/* .icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
} */

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}